.overlay, #yt_player {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
 
.overlay{
    z-index: -1;
}
 
#yt_player{
    z-index: -2;
}
